
@import url();

body {
  background-color: rgb(222, 242, 255) !important;
  color: rgb(24, 12, 57) !important;
}

#posts-index img {
  width: 300px;
}

html {
  scroll-behavior: smooth;
}

textarea {
  display: flex !important;
  min-height: 100px !important;
  margin: auto !important; 
  margin-top: 10px !important;
}

img {
  border-radius: 10px !important;
  height: 250px !important;
}

#root {
  background-image: url("https://www.toptal.com/designers/subtlepatterns/uploads/halftone-yellow.png");
}

/* img:hover {
  transform: scale(1.5); 
} */